/******************************media query***********************************/
/* ------------------media query tablet-----------------*/
@media screen and (max-width:768px){
  /*responsive view logIn*/
.container-logIn:before {
  width: 1500px;
  height: 1500px;
  transform: translateX(-50%);
  left: 30%;
  bottom: 75%;
  right: initial;
  top: initial;
  transition: 1s ease-in-out;
  z-index: -1;
  }
.container-logIn , .container-signUp{
  flex-flow: row wrap;
  overflow-y: visible;
  width: 100%;
}
.section-register{
  width: 100%;
}
.box-section-register{
  width: 100%;
  padding: 0 2rem;
}
/*Responsive view  SignUp*/
.container-signUp:before {
  width: 1500px;
  height: 1500px;
  transform: translateX(-50%);
  left: 30%;
  bottom: 70%;
  right: initial;
  top: initial;
  transition: 1s ease-in-out;
  z-index: -1;
}
.text-infoSingUp, .text-info{
  width: 100%;
  height: fit-content;
  padding: 2rem;
  line-height: normal;
  align-items: flex-start;
  text-align: start;
}

.text-infoSingUp .text , .text-info .text {
  font-size: 14px;
}
/*responsive recover Password*/
.container-recoverPassword header{
  width: 80%;
}
.container-recoverPassword form{
  width: 80%;
}
  /*Responsive header*/
.menu-header {
    width: 100%; 
    flex-direction: column; 
    justify-content: center;
    padding: 0;
  }
header nav ul li {
  width: 100%;
  text-align: center;  
}
.box:nth-child(2) {
  order: 1; 
  font-size: 2rem;
  width: fit-content;
}
.box:first-child {
  order: 2;
}
.box:nth-child(3) {
  order: 3;
}     
.title-header a {
  padding: 1rem;
}
          
#hamburger-menu {
  display: flex;
}

#left-menu-header {
  width: 100%;
  display: none; 
}

#left-menu-header.active{
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}


#left-menu-header li {
  width: 100%; 
  margin-bottom: 0.25rem;
}

#left-menu-header li a {
  padding: 0.25rem;
}

#left-menu-header a:hover {
  color: #46c5a5;
  background-color: white;
}

.home-header i {
  margin-left: 0;
}

.profile-header {
  margin-bottom: 0; 
}

#log-out-header {
  display: none; 
  padding: 0; 
}

#log-out-header.active{
  display: flex; 
  width: 100%; 
  margin-bottom: 1rem; 
  justify-content: center;
  color: white; 
}

#btn-singOut {
  width: 100%; 
  text-align: center; 
  padding: 0.25rem;
}

#btn-singOut i {
  margin-left: 1rem;
}

#btn-singOut:hover {
  color: #46c5a5;
  background-color: white;
}

/*Responsive profile*/
.container-user-post {
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
}
.profile-content {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 0;
}
/*modal Profile edit*/
.modal-settings{
    width: 60%;
}
/*information profile*/
.container-grid {
    grid-template-columns: 100%;
  }
  .item6 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  /* -----------------Responsive home--------------*/
.container-home{
  width:100%;
  grid-template-areas: "profile profile profile"
                      "home home home"
                      "aside aside aside";
}
.avatar{
width: 100px;
margin: 1rem 1rem 1rem 0;
display: block;
float: left;
}
.interest, .events, #viewall{
  display: none;
}
}
/* ------------------media query small device-----------------*/
@media screen and (max-width:576px){
  .user-information {
    padding: 5rem 2rem 2rem 2rem;
  }
  .user-information h2 {
    margin-bottom: 1rem;
  }
  .edit-info {
    right: 1rem;
    margin-top: 4rem;
  }

/*Responsive modal profile*/
.modal-settings{
    width: 80%;
}
.modal-settings form{
    width: 80%;
}
.grupo input , #birthdayEdit{
    height: 30px;
}
}
